.side-bar
  .user-name
    .top-items
      %h3.name
        = current_user.name
      %ul.icons
        %li.list
          = link_to "#", class: "list--icon" do
            = icon('fas', 'edit',  class: "list--edit") 
        %li.list
          = link_to edit_user_path(current_user), class: "list--icon" do
            = icon('fas', 'cog',  class: "list--cog") 
  .groups
    %ul.group-lists
      %li.group-main グループ名
      %li.last-message まだメッセージはありません